In [65]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
from datetime import datetime
import sqlite3

In [58]:
fire_file = "California_Wildland_Fire_Perimeters.csv"
date_col = ['CONT_DATE']
fire_df = pd.read_csv(fire_file, parse_dates=date_col)
fire_df.head()

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,FIRE_NUM,Shape__Area,Shape__Length
0,37484,1912.0,CA,USF,ANF,DEVIL'S CANYON,0,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,0,1.958885e+07,22868.384660
1,39983,1921.0,CA,NPS,KNP,ELK CREEK,0,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,1,9.742912e+06,16368.603100
2,29034,1921.0,CA,USF,ENF,PENNSYLVANIA,0,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,6G200000,1.834671e+06,5478.323834
3,40028,1922.0,CA,NPS,KNP,E.FORK,0,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,1,2.813934e+06,8957.808006
4,39985,1922.0,CA,NPS,KNP,HOSPITAL,0,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,3,4.189491e+06,10615.626600

In [59]:
fire_df.dtypes

OBJECTID                       int64
YEAR_                        float64
STATE                         object
AGENCY                        object
UNIT_ID                       object
FIRE_NAME                     object
INC_NUM                       object
ALARM_DATE                    object
CONT_DATE        datetime64[ns, UTC]
CAUSE                        float64
COMMENTS                      object
REPORT_AC                    float64
GIS_ACRES                    float64
C_METHOD                     float64
OBJECTIVE                    float64
FIRE_NUM                      object
Shape__Area                  float64
Shape__Length                float64
dtype: object

In [41]:
dt = datetime.strptime(fire_df['CONT_DATE'][0], "%Y/%m/%d %H:%M:%S+00")
dt

datetime.datetime(2020, 6, 23, 0, 0)

In [50]:
fire_df['FIRE_DATE'] =  pd.to_datetime(fire_df['CONT_DATE'], format="%Y/%m/%d %H:%M:%S+00")
fire_df

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,FIRE_NUM,Shape__Area,Shape__Length,FIRE_DATE
0,37484,1912.0,CA,USF,ANF,DEVIL'S CANYON,0,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,0,1.958885e+07,22868.384660,1912-08-31 00:00:00+00:00
1,39983,1921.0,CA,NPS,KNP,ELK CREEK,0,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,1,9.742912e+06,16368.603100,1921-07-17 00:00:00+00:00
2,29034,1921.0,CA,USF,ENF,PENNSYLVANIA,0,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,6G200000,1.834671e+06,5478.323834,1921-10-04 00:00:00+00:00
3,40028,1922.0,CA,NPS,KNP,E.FORK,0,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,1,2.813934e+06,8957.808006,1922-07-06 00:00:00+00:00
4,39985,1922.0,CA,NPS,KNP,HOSPITAL,0,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,3,4.189491e+06,10615.626600,1922-08-17 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21677,42768,1930.0,CA,CCO,LAC,POTRERO NO. 42,0,1930/11/01 00:00:00+00,NaT,14.0,NaN,NaN,20392.505860,NaN,1.0,0,1.206230e+08,88256.193820,NaT
21678,42770,1947.0,CA,CCO,LAC,NaN,0,1947/08/05 00:00:00+00,NaT,14.0,NaN,NaN,3695.626709,NaN,1.0,0,2.196758e+07,33401.294230,NaT
21679,42772,1980.0,CA,CCO,VNC,HILL CANYON,0,1980/10/28 00:00:00+00,NaT,14.0,NaN,NaN,11975.264650,NaN,1.0,0,7.099962e+07,63784.038410,NaT
21680,42773,1989.0,CA,CCO,LAC,TUNA,0,1989/12/09 00:00:00+00,NaT,14.0,NaN,NaN,8.382261,5.0,1.0,0,4.953634e+04,1145.129748,NaT
21681,43150,2021.0,CA,DOD,TNT,PORT,4691,2021/06/27 21:42:42+00,NaT,14.0,NaN,57.0,57.026318,4.0,1.0,NaN,3.726921e+05,2852.652317,NaT

In [61]:
drought_file = "USDM-california.csv"
drought_df = pd.read_csv(drought_file)
drought_df.head()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20220607,CA,0.0,100.0,99.79,97.48,59.81,11.59,2022-06-07,2022-06-13,1
1,20220531,CA,0.0,100.0,99.86,97.56,59.81,11.59,2022-05-31,2022-06-06,1
2,20220524,CA,0.0,100.0,99.86,97.56,59.81,11.59,2022-05-24,2022-05-30,1
3,20220517,CA,0.0,100.0,99.86,95.14,59.81,0.18,2022-05-17,2022-05-23,1
4,20220510,CA,0.0,100.0,99.86,95.14,59.81,0.00,2022-05-10,2022-05-16,1

In [62]:
drought_df['ValidStart'] = pd.to_datetime(drought_df['ValidStart'])
drought_df['ValidEnd'] = pd.to_datetime(drought_df['ValidEnd'])

In [63]:
# Create a filtered dataframe from specific columns
fire_cols = ["OBJECTID", "YEAR_", "STATE", "AGENCY", "UNIT_ID", "ALARM_DATE", "CONT_DATE", "CAUSE", "COMMENTS", "REPORT_AC", "GIS_ACRES", "C_METHOD", "OBJECTIVE", "Shape__Area", "Shape__Length"]

fire_transformed = fire_df[fire_cols].copy()

# Clean the data by dropping duplicates and setting the index


fire_transformed.head()

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,Shape__Area,Shape__Length
0,37484,1912.0,CA,USF,ANF,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,1.958885e+07,22868.384660
1,39983,1921.0,CA,NPS,KNP,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,9.742912e+06,16368.603100
2,29034,1921.0,CA,USF,ENF,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,1.834671e+06,5478.323834
3,40028,1922.0,CA,NPS,KNP,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,2.813934e+06,8957.808006
4,39985,1922.0,CA,NPS,KNP,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,4.189491e+06,10615.626600

In [64]:
# Create a filtered dataframe from specific columns
drought_cols = ["MapDate", "StateAbbreviation", "D0", "D1", "D2", "D3", "D4", "ValidStart", "ValidEnd"]

drought_transformed = drought_df[drought_cols].copy()

# Clean the data by dropping duplicates and setting the index

drought_transformed.set_index("MapDate", inplace=True)
drought_transformed.head()

,StateAbbreviation,D0,D1,D2,D3,D4,ValidStart,ValidEnd
MapDate,,,,,,,,
20220607,CA,100.0,99.79,97.48,59.81,11.59,2022-06-07,2022-06-13
20220531,CA,100.0,99.86,97.56,59.81,11.59,2022-05-31,2022-06-06
20220524,CA,100.0,99.86,97.56,59.81,11.59,2022-05-24,2022-05-30
20220517,CA,100.0,99.86,95.14,59.81,0.18,2022-05-17,2022-05-23
20220510,CA,100.0,99.86,95.14,59.81,0.00,2022-05-10,2022-05-16

In [ ]:
fire_drought_df = pd.merge(fire_df, drought_df, left_on=[])

In [66]:
conn = sqlite3.connect(":memory:") 

fire_df.to_sql("fire_df", conn, index=False)
drought_df.to_sql("drought_df", conn, index=False)
qry = "SELECT * FROM fire_df LEFT JOIN drought_df ON CONT_DATE >= ValidStart and CONT_DATE <= ValidEnd"
tt = pd.read_sql_query(qry,conn)

In [69]:
test = tt.dropna
test

<bound method DataFrame.dropna of        OBJECTID   YEAR_ STATE AGENCY UNIT_ID       FIRE_NAME INC_NUM  \
0         37484  1912.0    CA    USF     ANF  DEVIL'S CANYON       0
1         39983  1921.0    CA    NPS     KNP       ELK CREEK       0
2         29034  1921.0    CA    USF     ENF    PENNSYLVANIA       0
3         40028  1922.0    CA    NPS     KNP          E.FORK       0
4         39985  1922.0    CA    NPS     KNP        HOSPITAL       0
...         ...     ...   ...    ...     ...             ...     ...
21677     42768  1930.0    CA    CCO     LAC  POTRERO NO. 42       0
21678     42770  1947.0    CA    CCO     LAC            None       0
21679     42772  1980.0    CA    CCO     VNC     HILL CANYON       0
21680     42773  1989.0    CA    CCO     LAC            TUNA       0
21681     43150  2021.0    CA    DOD     TNT            PORT    4691

                   ALARM_DATE                  CONT_DATE  CAUSE  ...  \
0      1912/08/23 00:00:00+00  1912-08-31 00:00:00+00:00   14.0  ...
1      1921/07/05 00:00:00+00  1921-07-17 00:00:00+00:00    4.0  ...
2      1921/10/04 00:00:00+00  1921-10-04 00:00:00+00:00    9.0  ...
3      1922/07/04 00:00:00+00  1922-07-06 00:00:00+00:00    4.0  ...
4      1922/08/13 00:00:00+00  1922-08-17 00:00:00+00:00    4.0  ...
...                       ...                        ...    ...  ...
21677  1930/11/01 00:00:00+00                       None   14.0  ...
21678  1947/08/05 00:00:00+00                       None   14.0  ...
21679  1980/10/28 00:00:00+00                       None   14.0  ...
21680  1989/12/09 00:00:00+00                       None   14.0  ...
21681  2021/06/27 21:42:42+00                       None   14.0  ...

      StateAbbreviation  None  D0  D1  D2  D3  D4  ValidStart  ValidEnd  \
0                  None   NaN NaN NaN NaN NaN NaN        None      None
1                  None   NaN NaN NaN NaN NaN NaN        None      None
2                  None   NaN NaN NaN NaN NaN NaN        None      None
3                  None   NaN NaN NaN NaN NaN NaN        None      None
4                  None   NaN NaN NaN NaN NaN NaN        None      None
...                 ...   ...  ..  ..  ..  ..  ..         ...       ...
21677              None   NaN NaN NaN NaN NaN NaN        None      None
21678              None   NaN NaN NaN NaN NaN NaN        None      None
21679              None   NaN NaN NaN NaN NaN NaN        None      None
21680              None   NaN NaN NaN NaN NaN NaN        None      None
21681              None   NaN NaN NaN NaN NaN NaN        None      None

      StatisticFormatID
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
21677               NaN
21678               NaN
21679               NaN
21680               NaN
21681               NaN

[21682 rows x 29 columns]>