In [28]:
import pandas as pd
from sqlalchemy import create_engine
import datetime
from datetime import datetime
import sqlite3
from config import username, password

In [4]:
fire_file = "California_Wildland_Fire_Perimeters.csv"
date_col = ['CONT_DATE']
fire_df = pd.read_csv(fire_file, parse_dates=date_col)
fire_df.head()

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,FIRE_NAME,INC_NUM,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,FIRE_NUM,Shape__Area,Shape__Length
0,37484,1912.0,CA,USF,ANF,DEVIL'S CANYON,0,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,0,1.958885e+07,22868.384660
1,39983,1921.0,CA,NPS,KNP,ELK CREEK,0,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,1,9.742912e+06,16368.603100
2,29034,1921.0,CA,USF,ENF,PENNSYLVANIA,0,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,6G200000,1.834671e+06,5478.323834
3,40028,1922.0,CA,NPS,KNP,E.FORK,0,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,1,2.813934e+06,8957.808006
4,39985,1922.0,CA,NPS,KNP,HOSPITAL,0,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,3,4.189491e+06,10615.626600

In [7]:
drought_file = "USDM-california.csv"
drought_df = pd.read_csv(drought_file)
drought_df.head()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20220607,CA,0.0,100.0,99.79,97.48,59.81,11.59,2022-06-07,2022-06-13,1
1,20220531,CA,0.0,100.0,99.86,97.56,59.81,11.59,2022-05-31,2022-06-06,1
2,20220524,CA,0.0,100.0,99.86,97.56,59.81,11.59,2022-05-24,2022-05-30,1
3,20220517,CA,0.0,100.0,99.86,95.14,59.81,0.18,2022-05-17,2022-05-23,1
4,20220510,CA,0.0,100.0,99.86,95.14,59.81,0.00,2022-05-10,2022-05-16,1

In [8]:
drought_df['ValidStart'] = pd.to_datetime(drought_df['ValidStart'])
drought_df['ValidEnd'] = pd.to_datetime(drought_df['ValidEnd'])

In [9]:
# Create a filtered dataframe from specific columns
fire_cols = ["OBJECTID", "YEAR_", "STATE", "AGENCY", "UNIT_ID", "ALARM_DATE", "CONT_DATE", "CAUSE", "COMMENTS", "REPORT_AC", "GIS_ACRES", "C_METHOD", "OBJECTIVE", "Shape__Area", "Shape__Length"]

fire_transformed = fire_df[fire_cols].copy()

# Clean the data by dropping duplicates and setting the index


fire_transformed.head()

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,Shape__Area,Shape__Length
0,37484,1912.0,CA,USF,ANF,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,1.958885e+07,22868.384660
1,39983,1921.0,CA,NPS,KNP,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,9.742912e+06,16368.603100
2,29034,1921.0,CA,USF,ENF,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,1.834671e+06,5478.323834
3,40028,1922.0,CA,NPS,KNP,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,2.813934e+06,8957.808006
4,39985,1922.0,CA,NPS,KNP,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,4.189491e+06,10615.626600

In [18]:
fire_transformed.dropna(subset=['CONT_DATE'], inplace=True)
fire_transformed

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,GIS_ACRES,C_METHOD,OBJECTIVE,Shape__Area,Shape__Length
0,37484,1912.0,CA,USF,ANF,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,3297.104736,8.0,1.0,1.958885e+07,22868.384660
1,39983,1921.0,CA,NPS,KNP,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,NaN,1600.0,1551.466797,8.0,1.0,9.742912e+06,16368.603100
2,29034,1921.0,CA,USF,ENF,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,273.431549,NaN,1.0,1.834671e+06,5478.323834
3,40028,1922.0,CA,NPS,KNP,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,NaN,300.0,449.545319,8.0,1.0,2.813934e+06,8957.808006
4,39985,1922.0,CA,NPS,KNP,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,NaN,550.0,667.101135,8.0,1.0,4.189491e+06,10615.626600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9011,21804,2020.0,CA,DOD,MCP,2021/12/30 00:00:00+00,2021-12-31 00:00:00+00:00,14.0,NaN,NaN,3052.172607,8.0,1.0,1.776124e+07,30411.794220
9012,43075,2021.0,CA,USF,KNF,2021/06/28 23:07:01+00,2022-01-03 17:22:00+00:00,14.0,5C2D3644-5266-4028-A593-F66AA0791D54,10580.0,10591.031250,3.0,1.0,7.698567e+07,95932.748150
9013,43096,2021.0,CA,USF,KNF,2021/08/01 17:38:45+00,2022-01-03 17:22:00+00:00,1.0,"4098977E-B34D-40C3-8F34-2B913217503A, includes...",145632.0,145631.750000,7.0,1.0,1.055549e+09,509731.646900
9014,42930,2021.0,CA,CDF,MVU,2021/05/02 07:00:00+00,2022-05-06 07:00:00+00:00,2.0,Power tools,5365.0,5365.901855,7.0,1.0,3.094491e+07,55683.488030
9015,42955,2021.0,CA,CDF,FKU,2021/09/07 00:00:00+00,2022-09-07 07:00:00+00:00,2.0,NaN,25.0,25.031429,1.0,1.0,1.582043e+05,2381.460886

In [19]:
# Create a filtered dataframe from specific columns
drought_cols = ["MapDate", "StateAbbreviation", "D0", "D1", "D2", "D3", "D4", "ValidStart", "ValidEnd"]

drought_transformed = drought_df[drought_cols].copy()

# Clean the data by dropping duplicates and setting the index

drought_transformed.set_index("MapDate", inplace=True)
drought_transformed.head()

,StateAbbreviation,D0,D1,D2,D3,D4,ValidStart,ValidEnd
MapDate,,,,,,,,
20220607,CA,100.0,99.79,97.48,59.81,11.59,2022-06-07,2022-06-13
20220531,CA,100.0,99.86,97.56,59.81,11.59,2022-05-31,2022-06-06
20220524,CA,100.0,99.86,97.56,59.81,11.59,2022-05-24,2022-05-30
20220517,CA,100.0,99.86,95.14,59.81,0.18,2022-05-17,2022-05-23
20220510,CA,100.0,99.86,95.14,59.81,0.00,2022-05-10,2022-05-16

In [23]:
conn = sqlite3.connect(":memory:") 

fire_transformed.to_sql("fire_transformed", conn, index=False)
drought_transformed.to_sql("drought_transformed", conn, index=False)
qry = "SELECT * FROM fire_transformed LEFT JOIN drought_transformed ON CONT_DATE >= ValidStart and CONT_DATE <= ValidEnd"
drought_fire_df = pd.read_sql_query(qry,conn)

In [24]:
drought_fire_df

,OBJECTID,YEAR_,STATE,AGENCY,UNIT_ID,ALARM_DATE,CONT_DATE,CAUSE,COMMENTS,REPORT_AC,...,Shape__Area,Shape__Length,StateAbbreviation,D0,D1,D2,D3,D4,ValidStart,ValidEnd
0,37484,1912.0,CA,USF,ANF,1912/08/23 00:00:00+00,1912-08-31 00:00:00+00:00,14.0,"S Imsand,Arroyo, 2N 10W-5,6,7,18,19,Devils Cy...",3000.0,...,1.958885e+07,22868.384660,None,NaN,NaN,NaN,NaN,NaN,None,None
1,39983,1921.0,CA,NPS,KNP,1921/07/05 00:00:00+00,1921-07-17 00:00:00+00:00,4.0,None,1600.0,...,9.742912e+06,16368.603100,None,NaN,NaN,NaN,NaN,NaN,None,None
2,29034,1921.0,CA,USF,ENF,1921/10/04 00:00:00+00,1921-10-04 00:00:00+00:00,9.0,Containment 'fire_day' estimated,NaN,...,1.834671e+06,5478.323834,None,NaN,NaN,NaN,NaN,NaN,None,None
3,40028,1922.0,CA,NPS,KNP,1922/07/04 00:00:00+00,1922-07-06 00:00:00+00:00,4.0,None,300.0,...,2.813934e+06,8957.808006,None,NaN,NaN,NaN,NaN,NaN,None,None
4,39985,1922.0,CA,NPS,KNP,1922/08/13 00:00:00+00,1922-08-17 00:00:00+00:00,4.0,None,550.0,...,4.189491e+06,10615.626600,None,NaN,NaN,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9011,21804,2020.0,CA,DOD,MCP,2021/12/30 00:00:00+00,2021-12-31 00:00:00+00:00,14.0,None,NaN,...,1.776124e+07,30411.794220,CA,100.0,100.0,86.28,32.93,0.84,2021-12-28 00:00:00,2022-01-03 00:00:00
9012,43075,2021.0,CA,USF,KNF,2021/06/28 23:07:01+00,2022-01-03 17:22:00+00:00,14.0,5C2D3644-5266-4028-A593-F66AA0791D54,10580.0,...,7.698567e+07,95932.748150,None,NaN,NaN,NaN,NaN,NaN,None,None
9013,43096,2021.0,CA,USF,KNF,2021/08/01 17:38:45+00,2022-01-03 17:22:00+00:00,1.0,"4098977E-B34D-40C3-8F34-2B913217503A, includes...",145632.0,...,1.055549e+09,509731.646900,None,NaN,NaN,NaN,NaN,NaN,None,None
9014,42930,2021.0,CA,CDF,MVU,2021/05/02 07:00:00+00,2022-05-06 07:00:00+00:00,2.0,Power tools,5365.0,...,3.094491e+07,55683.488030,CA,100.0,100.0,95.18,40.51,0.00,2022-05-03 00:00:00,2022-05-09 00:00:00
9015,42955,2021.0,CA,CDF,FKU,2021/09/07 00:00:00+00,2022-09-07 07:00:00+00:00,2.0,None,25.0,...,1.582043e+05,2381.460886,None,NaN,NaN,NaN,NaN,NaN,None,None

In [27]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/droughtfire_db')
connection = engine.connect()
drought_fire_df.to_sql('drought_fire_df', con=connection)
connection.close()